.laptopContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4.5rem 2rem 2rem;

    .laptopDesktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .laptopContainer {
        .laptopPhone {
            display: none;
        }

        .laptopDesktop {
            display: block;
        }
    }
}