$dark-blue: #1A1F36;

.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 500;
        font-size: 1rem;

        color: #697386;
    }

    p {
        font-weight: 700;
        font-size: 2rem;

        color: $dark-blue;

        margin: 1rem 0 2rem 0;
    }
}