main {
    display: flex;
    flex-direction: column;

    margin: 1rem;
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}