.countryContainer {
    margin-bottom: 2rem;

    p {
        font-weight: 600;

        color: #697386;

        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    .selectContainer {
        display: flex;
        flex-direction: column;

        position: relative;

        select {
            padding: 9px 12px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            border: solid 1px #3C42571F;
    
            box-shadow: 0px 2px 5px #00000014, 0px 1px 1px #0000000a;
    
            color: #8792A2;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:focus {
                outline: none;
            }
        }

        input {
            padding: 9px 12px;

            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border: solid 1px #3C42571F;

            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);

            color: #8792A2;

            &:focus {
                background-color: none;
                outline: none;
        }
        }

        img {
            position: absolute;
            right: 16px;
            top: 14px;
        }
    }
};